bun.lockb
/backend/node_modules
/frontend/node_modules
/node_modules
/no
/app
/data
/test
web_application_with_html_and_steps.png
docker-compose_old.yaml
nginx.conf
/letsencrypt
pokemon.yaml
result.yaml
move.yaml
gen9vgc2023regulationebo3-1760.json